.wrapper {
  min-height: 100vh;
  overflow: hidden;
}
.empty {
  position: relative;
  height: 100px;
}


.footer {
  position: relative;
  height: 100px;
  margin-top: -100px;
  width: 100%;

  font-size: 36px;
  text-align: center;
}
.footer a {
  color: #000;
}
.header h1 {
  margin-bottom: 25px;
}
h2 a {
  color: #000;
  text-transform: uppercase;
}
.img-wrap img{
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.desc {
  margin-bottom: 25px;
}
.price {
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 700;
}
.by-btn {
  padding: 5px 30px;
  margin-bottom: 50px;
}